@*<div class="datadrager-card">*@
    <fieldset>
        <legend><span class="legend-span">&nbsp;Vrijetijdsbesteding Card&nbsp;</span></legend>
        <table>
		@foreach (Vrijetijdsbesteding item in Curriculum.ListVrijetijdsbesteding)
			{
			<tr>
                <td>
					&nbsp;&nbsp;Activiteit
				</td>
				<td>
					<input @bind="item.Activiteit" />
				</td>
				<td>
					<button @onclick="() => Delete(item)">
						<img src="minus-circle.png" alt="sss" />
					</button>
				</td>
            </tr>
			}
			<tr>
				<td></td>
				<td></td>
				<td>
					<button @onclick="Add">
						<img src="plus-circle.png" alt="sss" />
					</button>
				</td>
			</tr>
        </table>
    </fieldset>
@*</div>*@


@code {
	[CascadingParameter]
	public Curriculum Curriculum { get; set; }

	[CascadingParameter]
	public XMLDataCreate XmlData { get; set; }

	void Add()
	{
		Vrijetijdsbesteding vb = new Vrijetijdsbesteding();
		vb.Id = Curriculum.ListVrijetijdsbesteding.Count() + 1;
		Curriculum.ListVrijetijdsbesteding.Add(vb);
		XmlData.Save(Curriculum);
	}

	void Delete(Vrijetijdsbesteding weg)
	{
		Curriculum.ListVrijetijdsbesteding.Remove(weg);
		XmlData.Save(Curriculum);
	}
}